<body class="h-screen bg-black">
<div class="flex flex-col items-center justify-center h-full">
<img class="-mt-32" src="https://i.ibb.co/J7tN1r9/logo.png" alt="logo">
<h1 id="comment" class="text-white flex text-center font-work-sans text-2xl -mt-8">Welcome to a <br>better you</h1>
<br><br><br>
<button id="signUp" class="rounded-full text-white bg-gray-500 text-center px-32 py-2 hover:bg-green-500 ">Sign Up</button>
<br>
<button class="rounded-full bg-white text-center px-32 py-2 hover:font-semibold">Sign In</button>
</div>
</body>