.firstButton {
    border: 1px solid rgb(97, 97, 97);
    background-color: #eeeeee;
}

.secondButton {
    border: 1px solid rgb(97, 97, 97);
    background-color: #eeeeee;
}

.thirdButton {
    border: 1px solid rgb(97, 97, 97);
    background-color: #eeeeee;
}

.fourthButton {
    border: 1px solid rgb(97, 97, 97);
    background-color: #eeeeee;
}

.fifthButton {
    border: 1px solid rgb(97, 97, 97);
    background-color: #eeeeee;
}

.sixthButton {
    border: 1px solid rgb(97, 97, 97);
    background-color: #eeeeee;
}